.root {
    -fx-padding: 10;
    -fx-background-insets: 10;
}
.label{
    -fx-font-size: 12px;
}
#title {
    -fx-text-fill: linear-gradient(white, #b5b6d0);
    -fx-underline: true;
    -fx-font-size: 20px;
}

#topPane {
    /*-fx-padding: 10;
    -fx-background-insets: 10;*/
}
#timer {
    //-fx-padding: 0;
    -fx-background-color: #dddddd;
    -fx-alignment: center-right;
    -fx-min-width: 200;
    -fx-background-radius: 5,4,3,5;
    //-fx-background-insets: 0,1,2,0;
}
#timer .label{
    -fx-alignment: center-left;
    -fx-text-fill: red;
    -fx-padding: 5;
    -fx-background-insets: 5;
}

#rightPane {

}

#rightPane .label {
    -fx-background-color: darkslategray;
    -fx-text-fill: white;
}

#progressBox {
    -fx-background-color: grey;
    -fx-padding: 0;
    -fx-background-insets: 0;
}

#progressBox > * {
    -fx-border-color: black;
}

#targetBox {
    -fx-background-color:darkslategrey;
}

#gameButton:pressed {
    -fx-effect: dropshadow( three-pass-box , yellow , 8, 0.4 , 0 , 0 );
}

